***

## Pandas第一课作业

####  作业提交说明：
- 位置：作业文件统一放置于/0.Teacher/Exercise/Pandas1/下
- 文件名：请先复制该notebook文件，并重新命名为(课程名)+(您姓名的全拼)，并按要求完成后保存
- 时间：在本周课程结束前，提交。
- 注意：请勿抄袭，移动，修改，删除其他同学和原始空白的练习文件。
- 注意：该作业不计入分数，仅供巩固本堂课程知识点使用
***

- 同学姓名:<u></u>  
- 批改人：
- 情况总结:

***

## 作业

##### 说明：我们下面做的这一系列操作都属于数据预处理的范畴。在做实际machine learning问题的时候，很多时候我们都需要对数据进行预处理操作，方便后续的建模。


#### 1.构建三个Series，分别是一系列商品的单价，计量单位，和数量。至于是什么商品什么计量单位由大家自己决定。

#### 2.然后把这三个Series合并成一个DataFrame

#### 3.请同学们自行从yahoo finance下载一些股票数据，然后用read_csv载入并作出折线图

#### 4. 0.Teacher/data/文件夹下有个文件叫做titanic.csv ，这个文件包含了在titanic事件中乘客的存货情况。请把这个文件读入成一个pandas dataframe

#### 5.把每一列中的sex，sex为male的都改成1，sex为female的改成0,

#### 6.把Cabin中的NaN都填充成0 (使用fillna方法)

#### 7.现在我们想把乘客按照年龄做一个分类
- 年龄在0-11岁的为0类,12-22为1类，23-33为2类，34-44为3类，45-55为4类，56-66为5类，其余为6类
- 请做把Age改成乘客的年龄类别，如果年龄有缺失，就放入乘客的平均年龄