***

## Pandas第二课作业

####  作业提交说明：
- 位置：作业文件统一放置于/0.Teacher/Exercise/Pandas1/下
- 文件名：请先复制该notebook文件，并重新命名为(课程名)+(您姓名的全拼)，并按要求完成后保存
- 时间：在本周课程结束前，提交。
- 注意：请勿抄袭，移动，修改，删除其他同学和原始空白的练习文件。
- 注意：该作业不计入分数，仅供巩固本堂课程知识点使用
***

- 同学姓名:<u></u>  
- 批改人：
- 情况总结:

***

## 作业
- 作业所需数据文件位于0.Teacher/data目录下
***


#### 1.读入NVDA.csv中的数据

In [8]:
import pandas as pd
data=pd.read_csv('../data/NVDA.csv')
data.head()

         Date      Open      High       Low     Close  Adj Close    Volume
0  1999-01-22  1.750000  1.953125  1.552083  1.640625   1.523430  67867200
1  1999-01-25  1.770833  1.833333  1.640625  1.812500   1.683028  12762000
2  1999-01-26  1.833333  1.869792  1.645833  1.671875   1.552448   8580000
3  1999-01-27  1.677083  1.718750  1.583333  1.666667   1.547611   6109200
4  1999-01-28  1.666667  1.677083  1.651042  1.661458   1.542776   5688000

#### 2.请计算nvda股票Adj Close每天的log return

#### 3.请找出nvda股票涨幅最大的10天

#### 4. 将这十天的股票信息都输出来

#### 5把英伟达每个月最后一天的股价记录下来，做成一张新的月线图，然后把Adj Close画成一张图

#### 6.使用concat方法把英伟达的Adj Close与其他三只股票拼接在一起

#### 7.从Google有数据的那一天起开始画出四只股票的Adj Close折线图