# ![](https://julyedu-img-public.oss-cn-beijing.aliyuncs.com/Public/img/index/logo.png)

# Pandas教程
### 2018七月在线 机器学习集训营第六期 [@Julyedu.com七月在线 ](http://www.julyedu.com)
by 褚则伟 zeweichu@gmail.com

## 目录
- Groupby和Aggregate
- 表格的匹配与拼接
- bikes项目

## Groupby and Aggregate
### 2018七月在线 机器学习集训营第六期 julyedu.com

举个栗子，假设我们现在有一张公司每个员工的收入流水。

接下来我给大家演示一下什么叫做Group By

groupby构造了一个GroupBy object

### groupby之后一般要做一些[aggregate](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.aggregate.html)操作

默认会排序，也可以选择不排序

也可以这么写

group by的attributes

可以用多个columns做group by

除了sum之外，我们再来尝试一下size,mean,median

### iterate GroupBy object

选择一个group

agg是aggregate的alias，可以替代使用

对每一列可以采用不同的aggregate操作

### [transform](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.transform.html)
transform会把group中的每一个record都按照同样的规则转化

用另一个function [apply](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html#pandas.DataFrame.apply) 也可以起到同样的效果

我们来尝试一下把这些数据画出来

### [filter](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.filter.html)

比如我们想要找出符合统计特征的一些内容，就像SQL里面的having, where语句

我们来看看均价超过100的有哪些月份

### 小结： 
Group by: split-apply-combine
- 首先第一步是分离数据split，按照一定的规则把数据分成几类。
- 第二步是对每一部分数据都做一定的操作，这个操作可以是汇总操作aggregate，可以是一个变换transform，也可以是过滤数据filter。
- 最后一步就是把处理过的数据再合成一张DataFrame。


## 表格匹配与拼接
### 2018七月在线 机器学习集训营第六期 julyedu.com 
- concat
- append
- merge
- join

### [concatenate](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html)

在concatenate的时候可以指定keys，这样可以给每一个部分加上一个Key。

以下的例子就构造了一个hierarchical index。

用inner可以去掉NaN,也就是说如果出现了不匹配的行就会被忽略

#### 用[append](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.append.html)来做concatenation

Series和DataFrame还可以被一起concatenate，这时候Series会先被转成DataFrame然后做Join，因为Series本来就是一个只有一维的DataFrame对吧。

下面讲如何append一个row到DataFrame里。

### Merge(Join)
### 2018七月在线 机器学习集训营 julyedu.com

其实用concat也可以做同样的事情

#### join on index

也可以用merge来写

#### 下面我们来尝试一个稍微复杂一点的表格汇总+拼接项目

以下表格记录了用户对电影的评分

我们来计算一下每部电影的平均分，以及有多少人打分。

下一张表格是每部电影的具体信息

我们只需要电影的ID和名字

在处理实际数据的时候，经常容易碰到脏数据，而怎么样处理脏数据其实就需要根据实际情况来决定了。

现在把电影的评分和电影名称表格拼接起来。

## 项目时间
### 2018七月在线 机器学习集训营第六期 julyedu.com

处理实际数据的时候，很多时候时间都花在处理脏数据上。

我们来尝试一个例子，读取一些自行车的数据。

bikes.csv记录了Montreal自行车路线的数据，具体有7条路线，分别记录了每条自行车路线每天有多少人经过。

怎么报错了？不要慌，我们Google一下这个错误是什么意思。

这个数据读进来都揉成一团了，为什么呢？因为这个数据的格式并不是用逗号分隔的，而是用分号分隔的。所以我们要声明一下sep

这样读进来的数据就正常了，还有一个问题，就是数据看起来有好多的NaN。dropna可以帮我们删掉一些带NA的行或者列。

dropna默认是删掉行，如果想删掉一列，就要声明一下axis参数

对于缺失的数据，我们未必要直接删除，可以考虑用[fillna](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.fillna.html)把这一行的平均数填上。

最后我们再来求平均，看看一周当中每天总共有多少自行车通过

## 项目时间
### 2018七月在线 机器学习集训营 julyedu.com 
下面我们通过一个做股票分析的小项目带着大家熟悉一下pandas表格拼接和处理的操作。可参考以下博客文章。

[stock analysis](https://ntguardian.wordpress.com/2016/09/19/introduction-stock-market-data-python-1/)

尝试一下把三张表格拼接到一起

如果我们想要画出月K线呢？